/* QUICK RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================
   GLOBALS  
=====================*/

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* ==================
   TYPOGRAPHY  
=====================*/

h2,
h3 {
  text-align: center;
}

button {
  padding: 0.4em 0.8em;
}

/* ==================
   LAYOUT  
=====================*/

main {
  background-color: lightgray;
  width: 100%;
  max-width: 120rem;
  padding: 3.6rem;
  margin: 7.2em auto;
  display: flex;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ==================
   SECTION LEFT  
=====================*/

.section-left {
  background-color: lightpink;
}

.section-right {
  background-color: lightskyblue;
}

.header {
  background-color: lightgreen;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2.4em;
}

.search-bar {
  background-color: lightgoldenrodyellow;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar > input {
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
}

.sprite-image {
  background-color: lightseagreen;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.sprite-image-big {
  width: 100%;
  image-rendering: pixelated;
}

.sprite-btn-container {
  display: flex;
  justify-content: center;
}

.info-container {
  background-color: lightcyan;
}

.info {
  padding: 1em;
}

.info-btn-container {
  display: flex;
  justify-content: space-between;
}

/* ==================
   SECTION RIGHT  
=====================*/

.stats-container {
  display: flex;
}

.stats {
  background-color: antiquewhite;
  width: 50%;
  padding: 1rem;
}

.types {
  background-color: grey;
  width: 50%;
  padding: 1rem;
}

.type-label {
  font-size: 1.8rem;
  background-color: lightgray;
  text-align: center;
  margin: 5px;
}

.stats ul li {
  display: flex;
  justify-content: space-between;
}

.evo-chain-container {
  background-color: lightseagreen;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.evolution {
  border: solid 2px purple;
  width: 12rem;
  height: 12rem;
  margin: 0 1.6rem;
}

.evolution img {
  width: 100%;
  image-rendering: pixelated;
}

.evo-pokemon-name {
  text-align: center;
  border: solid 1px ligh;
}

.moves-container {
  background-color: lightyellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.moves {
  background-color: lightgray;
  width: 80%;
}

.move-stats {
  display: flex;
  justify-content: space-between;
}

.moves-btn-container {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-nav-container {
  border: solid blue 2px;
  display: flex;
  justify-content: center;
}

.pokemon-nav {
  display: flex;
  padding: 2.4rem;
}

.pokemon-id {
  display: flex;
  flex-direction: column;
}
