/* COLOR PALETTE
https://coolors.co/palette/011627-fdfffc-2ec4b6-e71d36-ff9f1c
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

/* QUICK RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================
   GLOBALS  
=====================*/

:root {
  font-size: 62.5%;
  height: 100vh;

  /* TYPOGRAPHY */
  --ff-monsterrat: "Montserrat", sans-serif;

  --fs-small: 1.2rem;
  --fs-normal: 1.6rem;
  --fs-big: 2.4rem;
  --fs-very-big: 2.4rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;

  /* COLORS */
  --clr-blue-dark: hsl(207, 95%, 8%);
  --clr-blue-dark-trans: hsla(208, 95%, 8%, 0.8);
  --clr-white: hsl(100, 100%, 99%);
  --clr-green-light: hsl(174, 62%, 47%);
  --clr-red: hsl(353, 81%, 51%);
  --clr-red-light: hsl(353, 81%, 58%);
  --clr-red-dark: hsl(353, 81%, 40%);
  --clr-yellow: hsl(35, 100%, 55%);

  /* BORDER RADIUS */
  --br-small: 6px;
  --br-normal: 8px;
}

body {
  font-size: 1.6rem;
  font-weight: var(--fw-normal);
  font-family: var(--ff-monsterrat);
  background: var(--clr-blue-dark);
  background: -webkit-linear-gradient(
    135deg,
    hsl(207, 95%, 18%),
    hsl(207, 95%, 8%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    hsl(207, 95%, 18%),
    hsl(207, 95%, 8%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button,
button:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-red-dark);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

button:hover,
button:active {
  background-color: var(--clr-yellow);
  color: var(--clr-blue-dark);
}

button svg {
  font-size: 2.4rem !important;
}
/* ==================
   TYPOGRAPHY  
=====================*/

h2,
h3 {
  text-align: center;
}

h2 {
  font-size: var(--fs-big);
}

input {
  font-size: var(--fs-normal);
}

/* ==================
   LAYOUT  
=====================*/

main {
  background: var(--clr-red);
  width: 95%;
  max-width: 120rem;
  border-radius: var(--br-normal);
  padding: 2em;
  margin: 0 auto;
  margin-top: 5em;
  display: flex;
}

.section {
  width: 50%;
  color: var(--clr-white);
  padding: 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--br-normal);
  overflow: hidden;
}

/* max-width: 800px */
@media (max-width: 50em) {
  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 100%;
  }
}
/* ==================
   SECTION LEFT  
=====================*/

.section-left {
  background-color: var(--clr-red-light);
  margin-right: 2em;
}

.header {
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--clr-white);
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar > input {
  font-family: var(--ff-monsterrat);
  font-size: var(--fs-big);
  color: var(--clr-blue-dark);
  text-align: center;
  margin-top: 1em;
  padding: 0.2em 0.5em;
  background-color: var(--clr-white);
  border-radius: var(--br-small);
  border: none;
}

.sprite-image,
.evolution-image {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 1em auto;
  background-color: var(--clr-green-light);
  border: solid 4px var(--clr-white);
  border-radius: var(--br-normal);
}

.sprite-image-big {
  width: 100%;
  image-rendering: pixelated;
}

.sprite-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.sprite-btn-container button {
  margin: 0 1em;
}

.info-container {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  color: var(--clr-blue-dark);
  border-radius: var(--br-normal);
  min-height: 14rem;
  max-height: 14rem;
  padding: 1em;
}

.info {
  padding: 0 1em;
}

.info-container button,
.info-container button:visited {
  background: none;
  color: var(--clr-blue-dark);
}

.info-container button:hover,
.info-container button:active {
  color: var(--clr-red);
}

/* max-width: 800px */
@media (max-width: 50em) {
  .section-left {
    margin-right: 0;
    margin-bottom: 2em;
  }
}

/* ==================
   SECTION RIGHT  
=====================*/

.section-right {
  background-color: var(--clr-red-dark);
}

.stats-container {
  display: flex;
  padding-bottom: 1em;
  border-bottom: solid 2px var(--clr-red-light);
}

.stats {
  width: 50%;
  padding: 1rem;
}

.types {
  width: 50%;
  padding: 1rem;
}

.type-label {
  font-size: 1.8rem;

  text-align: center;
  margin: 5px;
}

.stats ul li {
  display: flex;
  justify-content: space-between;
}

.evo-chain-container {
  overflow-x: scroll;
  scroll-margin-inline-start: 0;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.evolution {
  background-size: cover;
  background-position: center;
}

.evolution-image {
  width: 10rem;
  margin: 0 1em;
}

.evo-pokemon-name {
  text-align: center;
}

.moves-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.moves {
  width: 85%;
}

.move-stats {
  display: flex;
  justify-content: space-between;
}

.moves-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moves-btn-container button {
  margin: 0.5em 0;
}

.moves-btn-container button,
.moves-btn-container button:visited {
  background: var(--clr-red);
  color: var(--clr-blue-dark);
}

.moves-btn-container button:hover,
.moves-btn-container button:active {
  background: var(--clr-yellow);
}

.pokemon-nav-container {
  background-color: var(--clr-red-light);
  border-radius: var(--br-normal);
  display: flex;
  justify-content: center;
}

.pokemon-nav {
  display: flex;
  padding: 1em 0;
  width: 50%;
  justify-content: space-between;
}

.pokemon-id {
  display: flex;
  flex-direction: column;
}

/* ==================
   HELPERS  
=====================*/

.jc-start {
  justify-content: flex-start;
}

/* DISABLED STATES */
.section-disabled::before {
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.713);
  position: absolute;
  z-index: 1000;
}
